@charset "utf-8";
#title1 {
}
#main1 {
    font-size: large;
    text-align: center;
}

#1 img {
    border: thick groove #46498A;
    text-align: center;
    -webkit-box-shadow: 0px 20px #C13F42;
    box-shadow: 0px 20px #C13F42;
}
